<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <!--script src='lessons.js'></script-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="assets/style.css">

    <title>Document</title>
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text='sitename'></h1>
          
            <button disabled='disabled' v-if='this.cart < [0]' class="disabledButton"><span class='fas fa-shopping-cart'></span>Checkout</button>
            <button @click='showCheckout' v-else  class="addButtonStyle">{{this.cart.length}}<span class='fas fa-shopping-cart'></span>Checkout</button>
           
            <button @click="sortLessons('subject')" class="addButtonStyle">Sort by Subject</button>
            <button @click="sortLessons('location')" class="addButtonStyle">Sort by Location</button>
            <button @click="sortLessons('price')" class="addButtonStyle">Sort by Price</button>
            



        </header>
        <div v-if="showlessons" class="lessonGrid">
        <div v-for="(lesson, index) in lessons" :key="lesson.id" >

            <figure>
                <p><img v-bind:src="lesson.image"></p>
            </figure>

            <div class="lessonAlign">
            <h3>Subject: {{lesson.subject}}</h3>
            <p>Location: {{lesson.location}}</p>
            <p>Spaces available: {{lesson.spaces}}</p>
            <p>Price: {{lesson.price}}</p>
            </div>

            <template v-if="canAddToCart(lesson)">
                <button v-on:click="addToCart(lesson)" class="addButtonStyle">Add to cart</button>
              </template>
              <template v-else>
                <span class="disabledButton">Sorry, no available spaces</span>
            </template>
              


            
        </div>
        </div>

        <div v-else="showlessons">
            <div class="formStyle">
            <h2>Checkout</h2>
            <p><strong>Name : </strong></p>
            <input v-model.trim="order.firstName" type="text"/>

            <p><strong>Number : </strong></p>
            <input v-model.number="order.number" type="number"/>

            <h2>Order Information</h2>
            <p>First name: {{order.firstName}}</p>
            <p>Number: {{order.number}}</p>
            </div>

          
            <button @click='submitForm()' v-if='order.firstName, order.number' class="checkoutButtonStyle">Submit Order</button>
            <button disabled='disabled' v-else class="disabledButton">Please fill Name and Number !</button>
          
            <div class="lessonGrid">
            <div v-for="lesson in cart">
                
                <figure>
                <img v-bind:src="lesson.image"></p>
                </figure> 

                <div class="lessonAlign">
                <h3>Subject: {{lesson.subject}}</h3>
                <p>Location: {{lesson.location}}</p>
                <p>Spaces available: {{lesson.spaces}}</p>
                <p>Price:$ {{lesson.price}}</p>
                </div>

                <button v-on:click="removeFromCart" class="addButtonStyle">Remove from cart</button>
                
            </div>
            </div>

        </div>
    </div>  

    <script src="data.js"></script>

</body>
</html>