header {
  height: 56px;
  background-color: #1877d6;
  box-shadow: 2px 2px 5px #999;
  text-align: center;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lessonGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
}

.lessonCard {
  background-color: #eee;
  box-shadow: 2px 2px 5px #999;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  max-width: 400px;
}

.lessonCard img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.buttonStyle,
.addButtonStyle,
.checkoutButtonStyle,
.disabledButton {
  background-color: #0080ff;
  border: none;
  color: white;
  padding: 2rem;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.checkoutButtonStyle {
  position: relative;
}

.disabledButton {
  opacity: 0.6;
  cursor: not-allowed;
}

.formStyle {
  background-color: #f8f8f8;
  box-shadow: 2px 2px 5px #999;
  padding: 2rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

input[type='text'],
input[type='number'] {
  padding: 0.5rem;
  font-size: 1rem;
  border: #1877d6;
  box-shadow: 2px 2px 5px #999;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  width: 100%;
}

.lessonGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .lessonGrid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
